[package]
name = "attestation-doc-validation"
version = "0.3.0"
edition = "2021"
license = "Apache-2.0"
description = "A Rust library for attesting enclaves according to the Evervault Attestation scheme. This crate is used to generate ffi bindings."
homepage = "https://github.com/evervault/attestation-doc-validation"
documentation = "https://github.com/evervault/attestation-doc-validation"
repository = "https://github.com/evervault/attestation-doc-validation"
readme = "README.md"
keywords = ["aws", "nitro enclaves", "confidential computing", "attestation", "evervault"]
categories = ["cryptography", "development-tools::ffi", "development-tools"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aws-nitro-enclaves-cose = "0.5.0"
aws-nitro-enclaves-nsm-api = "0.2.1"
openssl = "0.10.41"
thiserror = "1.0"
serde_cbor = "0.11"
hex = "0.4.3"
base64 = "0.21"
serde_bytes = "0.11"

[dev-dependencies]
rcgen = "0.10"
base64 = "0.21"