on:
  push:
    paths:
      - src/**
      - test-files/**
      - .github/workflows/lint-and-test.yml
name: Lint and Test
jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: rustup component add clippy 
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -- -D warnings
      - name: Format project
        run: cargo fmt --check 
      - name: Test project, excluding time-sensitive tests
        run: cargo test -- --skip time_sensitive
      - name: Install libfaketime for use in time-sensitive tests
        run: sudo apt-get install -y libfaketime
      - name: Run time-sensitive tests at older date
        env: 
          LD_PRELOAD: /usr/lib/x86_64-linux-gnu/faketime/libfaketime.so.1
          FAKETIME: '2022-10-13 10:00:00'
        run: cargo test time_sensitive
        